.skills {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.skills-wrapper {
  width: 1018px;
  border: solid 1px black;
  flex-wrap: wrap;
}

.skills-title {
  font-family: "GFS Didot", serif;
  font-size: 38px;
  font-weight: 100;
  width: 100%;
}
