.skills {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.skills-wrapper {
  display: flex;
  border: solid 1px black;
  width: 1018px;
}

.skills-title {
  font-family: "GFS Didot", serif;
  font-size: 80px;
  font-weight: 200;
  margin: 0;
}

ul {
  list-style-type: none;
}

.skills-check {
  height: 25px;
}

.skills-img {
  width: 50%;
}

.skills-text {
  padding: 30px 40px 40px 40px;
  line-height: 1.5;
}
