.skills {
  border: solid 1px black;
  width: 1018px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-title {
  font-family: "GFS Didot", serif;
  font-size: 38px;
  font-weight: 100;
  width: 100%;
}
