.about {
  display: flex;
  justify-content: center;
}

.about-wrapper {
  display: flex;
  border: solid 1px black;
  width: 1018px;
  padding: 60px;
}

.about-title {
  color: red;
  justify-content: e;
}

.about-text {
  width: 400px;
  justify-content: center;
  font-family: "Questrial", sans-serif;
  font-weight: 200;
}

.about-img {
  height: 600px;
}
