.about {
  display: flex;
  justify-content: center;
  margin: 100px;
  scroll-snap-align: center;
}

.about-wrapper {
  display: flex;
  border: solid 1px black;
  width: 1018px;
}

.about-title {
  font-family: "GFS Didot", serif;
  font-size: 80px;
  font-weight: 200;
  margin: 0;
  padding: 30px 40px 40px 40px;
}

.about-text-p {
  font-family: "Questrial", sans-serif;
  font-weight: 200;
  width: 400px;
  font-size: 20px;
  padding: 30px 40px 40px 40px;
}

.about-text-p2 {
  width: 400px;
  padding: 0 40px 40px 40px;
  font-size: 30px;
  color: rgba(189, 146, 97);
  font-family: "GFS Didot", serif;
}

.about-img {
  height: auto;
  width: 50%;
}
