.header {
  border-bottom: solid 1px black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  max-height: 100px;
}

.header-logo {
  margin: 0 auto 0 10px;
  height: 300px;
  overflow-y: auto;
}

.header-menu {
  font-family: "Questrial", sans-serif;
  font-weight: 200;
  margin: 0 40px;
}
