.footer {
  /* position: fixed; */
  height: 50px;
  background-color: black;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.footer-text {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
