@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&family=Oranienbaum&family=Questrial&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
}

/* html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-padding: 15vh;
  scroll-behavior: smooth;
} */

/* font-family: "GFS Didot", serif;
font-family: "Oranienbaum", serif;
font-family: "Questrial", sans-serif; */
