.banner {
  display: flex;

  scroll-snap-align: center;
}

.banner-image {
  height: 900px;
  opacity: 0.9;
  width: 33%;
}
.banner-image2 {
  opacity: 0.9;
  height: 900px;
  width: 33%;
}

.banner-image3 {
  opacity: 0.9;
  height: 900px;
  width: 34%;
}

.banner-text {
  line-height: 0.8;
  position: absolute;
  z-index: 1;
  text-align: left;
  background-color: rgba(189, 146, 97, 0.5);
  padding: 0 80px;
  margin-top: 15%;
}

.banner-text-header1 {
  font-size: 70px;
  font-weight: 200;
  font-family: "Questrial", sans-serif;
}
.banner-text-header2 {
  font-size: 40px;
  font-weight: 200;
  font-family: "Questrial", sans-serif;
}

.banner-text-p {
  font-family: "GFS Didot", serif;
  font-size: 60px;
}
.down-arrow {
  position: absolute;
  top: 980px;
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}
