.banner {
  display: flex;
}

.banner-image {
  height: 900px;
  opacity: 0.9;
  width: 33%;
}
.banner-image2 {
  opacity: 0.9;
  height: 900px;
  width: 33%;
}

.banner-image3 {
  opacity: 0.9;
  height: 900px;
  width: 34%;
}

.banner-text {
  line-height: 0.8;
  position: absolute;
  z-index: 1;
  text-align: left;
  background-color: rgba(189, 146, 97, 0.5);
  padding: 0 80px;
  margin-top: 15%;
}

.banner-text-header1 {
  font-size: 70px;
  font-weight: 200;
  font-family: "Questrial", sans-serif;
}
.banner-text-header2 {
  font-size: 40px;
  font-weight: 200;
  font-family: "Questrial", sans-serif;
}

.banner-text-p {
  font-family: "GFS Didot", serif;
  font-size: 60px;
}
